@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
:root {
   --move-x: 1.65%;
   --move-y: -3%;
}

* {
   box-sizing: border-box;
   font-family: "Rubik Bubbles", cursive, Arial, Helvetica, sans-serif;
}

html,
body {
   height: 100%;
}

body {
   overflow: hidden;
   background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(245, 66, 0, 0.6) 0%,
      rgba(248, 0, 255, 0.6) 100%
   );
   display: grid;
   place-content: center;
   animation: box-shadow 2s infinite alternate;
}

@keyframes box-shadow {
   from {
      box-shadow: inset 0 0 0px 0 #7aeafd;
   }
   to {
      box-shadow: inset 0 0 5px 5px #7aeafd;
   }
}

/* * heart */
.heart {
   height: 600px;
   width: 600px;
   border-radius: 10px;
   position: relative;
   text-align: center;
}

.beated-heart {
   scale: 1.05;
}

.half {
   width: 350px;
   height: 500px;
   background: red;
   border-radius: 250px 250px 0 0;
   position: absolute;
   z-index: 1;
}

.first-half {
   top: 50%;
   left: 50%;
   transform: translate(-65%, -56%) rotate(-45deg);
   border-bottom-right-radius: 30px;
}

.second-half {
   top: 50%;
   left: 50%;
   transform: translate(-34.6%, -56%) rotate(45deg);
   border-bottom-left-radius: 30px;
}

.name {
   position: absolute;
   z-index: 2;
   font-size: 7.5rem;
   top: 50%;
   left: 50%;
   transform: translate(-51%, -80%);
   background: linear-gradient(
      to right,
      #54cffc,
      #2ffacb,
      rgb(255, 252, 58),
      rgb(101, 252, 13)
   );
   background-size: 400% 400%;
   background-clip: initial;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: background 3s infinite alternate-reverse;
}

@keyframes background {
   0% {
      background-position: 0% 0%;
   }

   50% {
      background-position: 50% 0%;
   }

   100% {
      background-position: 100% 0%;
   }
}

/* * Shadow of the heart */
.second-heart {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 650px;
   width: 650px;
   border-radius: 10px;
}

.second-heart .half {
   width: 400px;
   height: 550px;
}

.second-heart .first-half {
   transform: translate(calc(-65% + var(--move-x)), -56%) rotate(-45deg);
}

.second-heart .second-half {
   transform: translate(calc(-38% + var(--move-x)), -56%) rotate(45deg);
}

.second-heart .half {
   background: rgb(247, 2, 255);
}

/* * stars */
.star {
   background: #a9effc;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   box-shadow: 0 0 5px 6px #cdf8ff;
   position: absolute;
   top: 40px;
   left: 40px;
}

@keyframes create-star {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
